<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>微湖南--最具吸引力的平台</title>
    <meta name="keywords" content="百万格子，广告站，创意站" />
    <meta name="description" content="微湖南最有特色的平台，您可以联系我们增加您的品牌曝光度，您也可以在我们平台找到意外的惊喜" />

</head>
<style type="text/css">
    body {
      margin:0; padding:0;
    }

</style>
<body>

   <#uptag tagtype="01" clsid="001001" pagesize="200" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">      
    <a href="${d.Url}" target="_blank"><img src="${d.ImgUrl}"></a>
   <#/uptag>  

</body>
</html>