
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>股市段子----一起学金融</title>
    <meta name="keywords" content="股市段子，股市冷笑话" />
    <meta name="description" content="股市是一个令人沉迷又令人恨的“社会”，爱得少，恨得多，但又管不住自己的手，于是产生一系列让人安慰的段子。" />
    <script>
		window._deel = {name: '',url: '', ajaxpager: '', commenton: 0, roll: [4,]}
    </script>
    <script type="text/javascript">
			//var um = {"ajax_url":"","admin_url":"","wp_url":"","um_url":"","uid":0,"is_admin":0,"redirecturl":"","loadingmessage":"","paged":1,"cpage":1,"timthumb":""};
    </script>
    <link rel='stylesheet' id='um-css' href='/static/um.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fa-css' href='/static/font-awesome.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='/static/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='/static/js/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery/jquery.js?ver=1.0'></script>
    
    <!--[if lt IE 9]><script src="static/js/jquery/html5.js"></script><![endif]-->
</head>

<body class="archive category category-zhuti category-1">
    <header id="masthead" class="site-header">
        <nav id="top-header">
            <div class="top-nav">
                <div id="user-profile">
                    <!--<span class="nav-set">
                        <span class="nav-login">
                            <a href="http://www.pinyifu.com/wp-login.php" class="signin-loader">Hi, 请登录</a>&nbsp; &nbsp; <a href="/wp-login.php?action=register" class="signup-loader">我要注册</a>
                        </span>
                    </span>-->
                </div>
                <div class="menu-container">
                    <ul id="menu-%e5%a4%b4%e9%83%a8" class="top-menu">
                        <a target="_blank" href="/">关于我们</a> |
                        <a target="_blank" href="/">联系我们</a>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="nav-header">
            <div id="top-menu">
                <div id="top-menu_1">
                    <span class="nav-search"><i class="fa fa-search"></i></span> <span class="nav-search_1"><a href="#nav-search_1"><i class="fa fa-navicon"></i></a></span>
                    <hgroup class="logo-site">
                        <h1 class="site-title"> <a href="/"><img src="/static/images/logo.png" alt="一起学金融" /></a></h1>
                    </hgroup>
                    <div id="site-nav-wrap">
                        <nav id="site-nav" class="main-nav">
                            <div>
                                <ul class="down-menu nav-menu">
                                    <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23"><a href="/">首页</a></li>
                                    <li id="menu-item-193" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-193">
                                        <a href="/nrfx/">牛人分析</a>

                                    </li>
                                    <li id="menu-item-204" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="/jszb/">技术指标</a></li>
                                    <li id="menu-item-201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="/jdyl/">解读有理</a></li>
                                    <li id="menu-item-202" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/ngfx/">牛股分析</a></li>
                                    <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="/gsxl/">股市心理</a></li>
                                    <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="/spjx/">视频教学</a></li>
                                    <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="/gsdz/">股市段子</a></li>
                            
                           
                                    <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="/gngl/">概念归类</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="nav_sj" id="nav-search_1">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23"><a href="/">首页</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-193">
                    <a href="/nrfx/">牛人分析</a>

                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="/jszb/">技术指标</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="/jdyl/">解读有理</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/ngfx/">牛股分析</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/gsxl/">股市心理</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/spjx/">视频教学</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/gsdz/">股市段子</a></li>
   
    
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/gngl/">概念归类</a></li>
            </ul>
        </nav>
    </header>
    <div id="search-main">
        <div id="searchbar">
            <form id="searchform" action="/" method="get">
                <input id="s" type="text" required placeholder="输入搜索内容" name="s" value="">
                <button id="searchsubmit" type="submit">搜索</button>
            </form>
        </div>
        <div id="searchbar">
            <form id="searchform" target="_blank" action="http://i.g-fox.cn/search" method="get">
                <input type="hidden" name="entry" value="1">
                <input class="swap_value" name="q" placeholder="输入百度站内搜索关键词">
                <button id="searchsubmit" type="submit">百度</button>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <section class="container">
        <div class="speedbar">
        </div>
        <div class="content-wrap">
            <div class="content">
                <!--<header class="archive-header">
                <h1><i class="fa fa-folder-open"></i>  &nbsp;分类：wordpress主题  <a title="订阅wordpress主题" target="_blank" href="http://www.pinyifu.com/category/zhuti/feed"><i class="rss fa fa-rss"></i></a></h1>
            </header>-->


                <#uptag tagtype="01" clsid="003007" pagesize="40" pagecount="10" viewedit="1" newssort="1" id="dataId001006" var="d" index="i">
                    <article class="excerpt">
                        <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl," ")}">
                            <div class="focus"><a target="_blank" href="${d.Url}"><img class="thumb" src="http://img.pinyifu.com${d.ImgUrl}" alt="${d.Title}" /></a></div>
                            <#/if>
                            <header>
                                <h2><a target="_blank" href="${d.Url}" title="${d.Title}">${d.Title}</a></h2>
                            </header>
                            <p class="auth-span">
                                <span class="muted"><i class="fa fa-clock-o"></i>  ${cdatestring(d.CreatedTime,"yy-MM-dd")}</span>	<span class="muted"><i class="fa fa-eye"></i> </span>	<span class="muted"><i class="fa fa-comments-o"></i> <a target="_blank" href="/"></a></span>
                            </p>
                            <span class="note">
                                ${substr(filterhtml(d.Content),100)}
                            </span>
                    </article>
                    <#/uptag>

                    <!--<div class="pagination"><ul><li class="prev-page"></li><li class="active"><span>1</span></li><li class="next-page"><a href="/">下一页</a></li></ul></div>-->
                    <div class="pagination">
                        <ul>
                            <#set name="locafilename" value="index" />
                            <#for from="1" to="${pagecount}" index="rowindex">
                                <#if test="${equals(rowindex,1)}">
                                    <#if test="${comparenocase(rowindex,curpage)}">
                                        <li class="current"><span><a>${rowindex}</a></span></li>
                                        <#else>
                                            <li><span><a href="${locafilename}.html" target="_self">${rowindex}</a></span></li>
                                            <#/if>
                                            <#else>
                                                <#if test="${comparenocase(rowindex,curpage)}">
                                                    <li class="current"><span><a>${rowindex}</a></span></li>
                                                    <#else>
                                                        <li><span><a href="${locafilename}_${rowindex}.html" target="_self">${rowindex}</a></span></li>
                                                        <#/if>
                                                        <#/if>
                                                        <#/for>
                        </ul>
                    </div>

</div>

        </div>
        </div>
        <aside class="sidebar">
            <!--<div class="widget widget_text">
            <div class="textwidget">
                <div class="social">


                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

                </div>

            </div>
        </div>-->

            <div class="widget d_textbanner">
                <a class="style03" href="/ngfx/" target="_blank">
                    <strong>牛股分析</strong>
                </a>
                <p>
                    <#uptag tagtype="01" clsid="003005" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <a href="${d.Url}" target="_blank" title="">${d.Title}</a>
                        <#/uptag>
                </p>

            </div><div class="widget d_textbanner">
                <a class="style01" href="/gsxl/" target="_blank"><strong>股市心理</strong></a>
                <p>
                    <#uptag tagtype="01" clsid="003006" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <a href="${d.Url}" target="_blank" title="">${d.Title}</a>
                        <#/uptag>
                </p>
            </div><div class="widget d_banner">
                <div class="d_banner_inner">
                    <#uptag tagtype="01" clsid="001006" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <a href="${d.Url}" target="_blank" title="${d.Title}"><img src="http://img.pinyifu.com${d.ImgUrl}" alt="${d.Title}"><span></span></a>
                        <#/uptag>
                </div>
            </div><div class="widget d_postlist">
                <div class="title"><h2><sapn class="title_span"><a href="/spjx/" target="_blank">视频教学</a></span></h2></div><ul>
                    <#uptag tagtype="01" clsid="003004" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li><a href="${d.Url}" title="${d.Title}"> <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl," ")}"><span class="thumbnail"><img src="http://img.pinyifu.com${d.ImgUrl}" alt="${d.Title}" /></span>	  <#/if>    <span class="text">${d.Title}</span><span class="muted">${cdatestring(d.CreatedTime,"MM-dd HH:mm")}</span><span class="muted_1">${substr(filterhtml(d.Content),60)}</span></a></li>

                        <#/uptag>

                </ul>
            </div><div class="widget widget_categories">
                <div class="title"><h2><sapn class="title_span"><a href="/gsdz/" target="_blank">股市段子</a></span></h2></div>		<ul>
                    <#uptag tagtype="01" clsid="003007" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li class="cat-item cat-item-3">
                            <a href="${d.Url}">${d.Title}</a>
                        </li>
                        <#/uptag>
                </ul>
            </div>
            <div class="widget d_banner">
                <div class="d_banner_inner">
                    <#uptag tagtype="01" clsid="001011" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <a href="${d.Url}" title="${d.Title}">
                            <img class="alignnone size-full wp-image-516" src="http://img.pinyifu.com${d.ImgUrl}" alt="ddy" width="308">
                        </a>
                        <#/uptag>
                </div>
            </div>
            <div class="widget d_postlist">
                <div class="title"><h2><sapn class="title_span"><a href="/tjsj/">推荐书籍</a></span></h2></div><ul>
                    <#uptag tagtype="01" clsid="003010" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li><a href="${d.Url}" title="${d.Title}"> <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl," ")}"><span class="thumbnail"><img src="http://img.pinyifu.com${d.ImgUrl}" alt="${d.Title}" /></span>	  <#/if>    <span class="text">${d.Title}</span><span class="muted">${cdatestring(d.CreatedTime,"MM-dd HH:mm")}</span><span class="muted_1">${substr(filterhtml(d.Content),60)}</span></a></li>

                        <#/uptag>

                </ul>
            </div>
            <div class="widget widget_text">
                <div class="title"> <h2> <sapn class="title_span"><a href="/lzp/" target="_blank">励志篇</a></span></h2></div>

                <div class="textwidget">
                    <div class="d_tags_1">
                        <#uptag tagtype="01" clsid="003008" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                            <a target="_blank" href="${d.Url}">${d.Title}</a>
                            <#/uptag>
                    </div>
                </div>

            </div>
            <div class="widget widget_text">
                <div class="title"> <h2> <sapn class="title_span"><a href="/gngl/" target="_blank">概念归类</a></span></h2></div>

                <div class="textwidget">
                    <div class="d_tags_1">
                        <#uptag tagtype="01" clsid="003013" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                            <a target="_blank" href="${d.Url}">${d.Title}</a>
                            <#/uptag>
                    </div>
                </div>

            </div>
        </aside>
    </section>
    <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
    </script>

</body>
</html>