<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="defaultDatabase" value="CMS"/>
    <add key="hostIP" value="127.0.0.1"/>   
    <add key="webpath" value="F:\Project\CMS\code\branches\v1.0\CMS.TemplateTest\template\"/>
    <add key="NewsDetailHost" value="http://localhost:6593"/>
    <add key="batchNum" value="100000"/><!--批量插入数据库条目数-->
    <add key="suspendedDay" value="2013-9-15,2013-9-20"/>
    <add key="PdfChannelId" value="001047,001048"/>
  </appSettings>
  <connectionStrings>
    <add name="CMS" connectionString="server=localhost;database=CMS;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name="BOCE" connectionString="data source=updb;user id=selfstock;password=selfstock" providerName="System.Data.OracleClient" />
    <add name="BaiduPush" connectionString="server=192.168.1.84;data source=updb;user id=baidu_push;password=baidu_push" providerName="Oracle"/>
    <add name="CODE" connectionString="server=192.168.1.84;data source=updb;user id=bh_collect;password=bh_collect" providerName="Oracle"/>
    <!--<add name="CMS" connectionString="server=192.168.242.225;database=CMS;uid=webuser;pwd=1qaz.2wsx" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="login.html" timeout="2880" cookieless="UseCookies" name=".CMS" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <pages enableViewState="false" validateRequest="false" pageParserFilterType="SMVC.ViewTypeParserFilter,SMVC" pageBaseType="SMVC.BasePage,SMVC" userControlBaseType="SMVC.BaseUserControl,SMVC">
      <namespaces>
        <add namespace="SMVC"/>
        <add namespace="CMS.ViewModel"/>
        <add namespace="CMS.Model"/>
      </namespaces>
    </pages>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
        <add path="*.cspx" verb="*" type="SMVC.AjaxHandlerFactory, SMVC" validate="true" />
        <add path="*.aspx" verb="*" type="SMVC.MvcPageHandlerFactory, SMVC" validate="true" />
        <add path="*.ascx" verb="*" type="SMVC.MvcPageHandlerFactory, SMVC" validate="true" />
        <add path="/mvc/*" verb="*" type="SMVC.MvcPageHandlerFactory, SMVC" validate="true" />
        
      </httpHandlers>
    <httpModules>
      <!--<add name="PermissionModule" type="CMS.Controller.PermissionModule,CMS.Controller"/>-->
    </httpModules>
    <httpRuntime requestValidationMode="2.0" executionTimeout="1200" maxRequestLength="51200"/>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
     <validation validateIntegratedModeConfiguration="false" />
    <!--request请求参数大小，.net默认只有4M-->
    <security>
      <requestFiltering>
        <!-- 50MB in bytes-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas  maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="1638400000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="HttpBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas  maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="1638400000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://localhost:9123/HtmlService" binding="netTcpBinding" bindingConfiguration="TcpBindingConfig" contract="CMS.HtmlService.Contract.IHtmlEngine" name="HtmlService"/>-->
      <!--<endpoint address="net.tcp://localhost:9127/FileService" binding="netTcpBinding" bindingConfiguration="TcpBindingConfig" contract="CMS.HtmlService.Contract.IFileReceive" name="FileService"/>-->
      <!--<endpoint address="net.tcp://localhost:9129/SsoService" binding="netTcpBinding" bindingConfiguration="TcpBindingConfig" contract="CMS.HtmlService.Contract.ISsoOutWindow" name="SsoService"/>-->
      <endpoint address="http://localhost:9123/HtmlService" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CMS.HtmlService.Contract.IHtmlEngine" name="HtmlService"/>
      <endpoint address="http://localhost:9127/FileService" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CMS.HtmlService.Contract.IFileReceive" name="FileService"/>
      <endpoint address="http://localhost:9129/SsoService" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfig" contract="CMS.HtmlService.Contract.ISsoOutWindow" name="SsoService"/>
    </client>
  </system.serviceModel>

 <!--登录页的资源-->
  <location path="StockContest/SosPush.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="news/uploaddoc.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="news/uploadimg.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="cpzb/uploadimg.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="media/upload.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="themes/default/images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="themes/default/scripts/jquery-1.7.2.min.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js/init.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js/manage.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js/md5.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="themes/default/styles/manage.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="themes/default/Scripts/DD_belatedPNG.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="themes/default/scripts/GetVerifyImage/getverifyimage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AjaxLogin/Login.cspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="test">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
