
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>${art.title}-拼衣服</title>
    <meta name="keywords" content="${art.title}-拼衣服" />
    <meta name="description" content="${art.title}-拼衣服" />
    <link rel='stylesheet' id='um-css' href='/static/um.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fa-css' href='/static/font-awesome.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='/static/style.css?ver=1.0' type='text/css' media='all' />
    <script>
            window._deel = {name: '拼衣服',url: '', ajaxpager: '', commenton: 1, roll: [4,]}
    </script>
    <script type="text/javascript">
			//var um = {"ajax_url":"","admin_url":"","wp_url":"","um_url":"","uid":0,"is_admin":0,"redirecturl":"","loadingmessage":"","paged":1,"cpage":1,"pid":95,"timthumb":""};
    </script>

    <script type='text/javascript' src='/static/js/jquery/jquery.min.js'></script>
  
    <link rel='prev' title='' href='' />
    <link rel='next' title='' href='' />
    <link rel="canonical" href="" />
    <link rel='shortlink' href='' />
    <link rel="alternate" type="application/json+oembed" href="" />
    <link rel="alternate" type="text/xml+oembed" href="" />
    <!--[if lt IE 9]><script src="/static/js/jquery/html5.js"></script><![endif]-->
</head>

<body class="single single-post postid-105 single-format-standard">
    <header id="masthead" class="site-header">
        <nav id="top-header">
            <div class="top-nav">
                <div id="user-profile">
                    <!--<span class="nav-set">
                        <span class="nav-login">
                            <a href="http://www.pinyifu.com/wp-login.php" class="signin-loader">Hi, 请登录</a>&nbsp; &nbsp; <a href="/wp-login.php?action=register" class="signup-loader">我要注册</a>
                        </span>
                    </span>-->
                </div>
                <div class="menu-container">
                    <ul id="menu-%e5%a4%b4%e9%83%a8" class="top-menu">
                        <a target="_blank" href="/">关于我们</a> |
                        <a target="_blank" href="/">联系我们</a>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="nav-header">
            <div id="top-menu">
                <div id="top-menu_1">
                    <span class="nav-search"><i class="fa fa-search"></i></span> <span class="nav-search_1"><a href="#nav-search_1"><i class="fa fa-navicon"></i></a></span>
                    <hgroup class="logo-site">
                        <h1 class="site-title"> <a href="/"><img src="/static/images/logo.png" alt="拼衣服" /></a></h1>
                    </hgroup>
                    <div id="site-nav-wrap">
                        <nav id="site-nav" class="main-nav">
                            <div>
                                <ul class="down-menu nav-menu">
                                    <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23"><a href="/">首页</a></li>
                                    <li id="menu-item-193" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-193">
                                        <a href="/">品牌</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-194" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-194"><a href="/">产业</a></li>
                                            <li id="menu-item-192" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-192"><a href="/">专栏</a></li>
                                            <li id="menu-item-191" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191"><a href="/">优购</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-204" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="/">活动</a></li>
                                    <li id="menu-item-201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="/">特色</a></li>
                                    <li id="menu-item-202" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="/">排行</a></li>
                                    <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="/">展会</a></li>
                               

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="nav_sj" id="nav-search_1">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23"><a href="http://www.pinyifu.com">首页</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-193">
                    <a href="http://www.pinyifu.com/category/qianduan">品牌</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-194"><a href="http://www.pinyifu.com/category/css">产业</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-192"><a href="http://www.pinyifu.com/category/mysql">专栏</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191"><a href="http://www.pinyifu.com/category/jquery">优购</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="http://www.pinyifu.com/category/zhuti">活动</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-201"><a href="http://www.pinyifu.com/category/seo">排行</a></li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-202"><a href="http://www.pinyifu.com/category/wzyy">展会</a></li>

            </ul>
        </nav>
    </header>
    <div id="search-main">
        <div id="searchbar">
            <form id="searchform" action="/" method="get">
                <input id="s" type="text" required placeholder="输入搜索内容" name="s" value="">
                <button id="searchsubmit" type="submit">搜索</button>
            </form>
        </div>
        <div id="searchbar">
            <form id="searchform" target="_blank" action="http://i.g-fox.cn/search" method="get">
                <input type="hidden" name="entry" value="1">
                <input class="swap_value" name="q" placeholder="输入百度站内搜索关键词">
                <button id="searchsubmit" type="submit">百度</button>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <section class="container">
        <div class="speedbar">
        </div>
        <div class="content-wrap">
            <div class="content">
                <div class="breadcrumbs"><a title="返回首页" href="http://www.pinyifu.com"><i class="fa fa-home"></i></a> <small>></small><span class="muted">${art.Title}</span></div>
                <header class="article-header">
                    <h1 class="article-title">${art.Title}</h1>
                    <div class="meta">
                               <span id="mute-category" class="muted"><i class="fa fa-list-alt"></i></span><span class="muted"><i class="fa fa-user"></i> ${art.author}</span>
                        <time class="muted"><i class="fa fa-clock-o"></i> </time>
                        <span class="muted"><i class="fa fa-eye"></i> </span>
                        <span class="muted"><i class="fa fa-comments-o"></i> <a href="/"></a></span>
                    </div>
                </header>
                <article class="article-content">
                    ${art.Content}

                    <div class="article-social">
                        <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style_32x32">
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_renren"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>
                </article>
                <footer class="article-footer">
                    <div class="article-tags"><i class="fa fa-tags"></i>${art.KeyWord}</div>
                </footer>
                <nav class="article-nav">
                      <#uptag tagtype="01" clsid="001005" pagesize="3" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                 
                          <#if test="${equals(i,1)}">
                              <span class="article-nav-prev"><i class="fa fa-angle-double-left"></i> <a href="${d.Url}" rel="prev">${d.Title}</a></span>
                              <#else>
                                  <span class="article-nav-next"><a href="${d.Url}" rel="next">${d.Title}</a>  <i class="fa fa-angle-double-right"></i></span>
                                  <#/if>
                       <#/uptag>
                                
                        </nav>

                <div class="related_top">
                    <div class="related_posts">
                        <ul class="related_img">
                            <h2>相关推荐</h2>

                            <#uptag tagtype="01" clsid="001001" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">

                                <li class="related_box">
                                    <a href="${d.Url}" title="${d.Title}" target="_blank">
                                        <img src="http://img.pinyifu.com/${d.ImgUrl}" alt="${d.Title}" />	<br><span class="r_title">${d.Title}</span>
                                    </a>
                                </li>
                                <#/uptag>
</ul>
                    </div>
                </div>
                 
					<!-- UY BEGIN -->
					<div id="uyan_frame"></div>
					<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1959336"></script>
					<!-- UY END -->
            </div>
        </div>
        <aside class="sidebar">
            <div class="widget widget_text">
                <div class="textwidget">
                    <div class="social">
                        
                        <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style_32x32">
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_renren"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>

                </div>
            </div>

            <div class="widget d_textbanner">
                <a class="style03" href="/">
                    <strong>本网推荐</strong>
                </a>
                <p>
                    <#uptag tagtype="01" clsid="001004" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag" begindate="today">
                        <a href="${d.Url}" target="_blank" title="">${d.Title}</a>
                        <#/uptag>
                </p>
            </div><div class="widget d_textbanner"><a class="style01" href="/"><strong>火爆段子</strong></a>
                      <p>
                          <#uptag tagtype="01" clsid="001005" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                              <a href="${d.Url}" target="_blank" title="">${d.Title}</a>
                              <#/uptag></p>
</div><div class="widget d_banner">
                <div class="d_banner_inner">
                    <#uptag tagtype="01" clsid="001006" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <a href="${d.Url}" target="_blank" title="${d.Title}"><img src="http://img.pinyifu.com${d.ImgUrl}" alt="${d.Title}"><span></span></a>
                        <#/uptag>

</div>
            </div><div class="widget d_postlist">
                <div class="title"><h2><sapn class="title_span">网络推荐</span></h2></div><ul>
                    <#uptag tagtype="01" clsid="001007" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                    <li><a href="${d.Url}" title="${d.Title}"><span class="thumbnail"><img src="http://img.pinyifu.com${d.ImgUrl}" alt="${d.Title}" /></span><span class="text">${d.Title}</span><span class="muted">${cdatestring(d.CreatedTime,"MM-dd HH:mm")}</span><span class="muted_1"></span></a></li>

                    <#/uptag>
</ul>
            </div><div class="widget widget_categories">
                <div class="title"><h2><sapn class="title_span">本网收集</span></h2></div>	
            	<ul>
                <#uptag tagtype="01" clsid="001008" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                    <li class="cat-item cat-item-3">
                        <a href="${d.Url}">${d.Title}</a>
                    </li>
                    <#/uptag>
</ul>
            </div><div class="widget d_banner">
            <div class="d_banner_inner">
                <#uptag tagtype="01" clsid="001011" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                    <a href="${d.Url}" title="${d.Title}">
                        <img class="alignnone size-full wp-image-516" src="http://img.pinyifu.com${d.ImgUrl}" alt="ddy" width="308">
                    </a>
                    <#/uptag>
</div></div>
            <div class="widget d_tag"><div class="title"><h2><sapn class="title_span">宝宝搭配</span></h2></div>
            <div class="d_tags">
                <#uptag tagtype="01" clsid="001010" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                    <a title="${d.Title}" href="${d.Url}">${d.Title}</a>
                    <#/uptag>
</div></div>
           
          
        </aside>
    </section>
    
    
     
    

</body>
</html>