
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>长株潭0731 - 生活便利平台</title>
<meta name="keywords" content="长株潭0731，长沙地图，长沙旅游，长沙特产，长沙房价，长沙文化，长沙公交，长沙地铁，长株潭0731城际。" />
<meta name="description" content="长株潭0731生活轨迹平台" />
<link rel="canonical" href="http://www.czt0731.com/"/>
<link rel="Shortcut Icon" href="/static/images/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<link rel='stylesheet' id='fontello-css'  href='/static/css/fontello.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='/static/css/czt0731.css' type='text/css' media='all' />
</head>
<body>
<div id="wrapper">
	<div id="sitetopbar">
		<div class="site-logo">
			<h1><a href="/" title="长株潭0731"><img src="/static/images/logo.png" alt="长株潭0731"></a></h1>
		</div>

		<div class="site-logo-m">
			<h1><a href="/" title="长株潭0731">长株潭0731</a></h1>
		</div>
		<div role="navigation"  class="site-nav left-menu">
			<h1 class="minimenu-text"><i class="icon-align-justify"></i></h1>
            <ul id="menu-navigation" class="menu"><li><a href="/"><i class="icon-home-4"></i>首页</a></li>
                <li><a href="/fc/"><i class="icon-flag"></i>房产</a></li>
                <li><a href="/ly/"><i class="icon-videocam"></i>旅游</a></li>
                <li><a href="/jt/"><i class="icon-camera-alt"></i>交通</a></li>
                <li><a href="/wh/"><i class="icon-box"></i>文化</a></li>
                <li><a href="/jy/"><i class="icon-flag"></i>教育</a></li>
                <li><a href="/sy/"><i class="icon-flag"></i>商业</a></li>
                <li><a href="/tc/"><i class="icon-box"></i>特产</a></li>
                <li class="submenu"><a><i class=" icon-floppy"></i>便民生活 <span class="sign "></span></a>
                <ul class="sub-menu">
                    <li><a href="/">交通查询</a></li>
                    <li><a href="/">贷款查询</a></li>
                    <li><a href="/">景点查询</a></li>
                    <li><a href="/">医院查询</a></li>
                    <li><a href="/">天气查询</a></li>
                </ul>
            </li>
            </ul>		
        </div>
				<div class="social_a"> 
			<p class="follow"><a class="mfp-follow-link big-link " href="javascript:;"><img class="sux-iconx26" src="/static/images/gz.png" alt="关注我们"><span class="followtext">关注我们</span></a></p>
			
			<div class="reveal-modal" >
			<div class="leftsocialmask"></div>
				<div id="mfp-follow" class="white-popup">
					<ul class="items clearfix">
						<!--<li class="item"><a href="http://www.suxing.me" target="_blank" class="social_weibo" rel="nofollow" title="微博"><i class="icon-weibo"></i></a> </li>-->
						<li class="item">
						    <a href="http://wpa.qq.com/msgrd?v=3&uin=274685591&site=qq&menu=yes" target="_blank" class="social_qq" rel="nofollow" title="QQ">
                                <i class="icon-qq"></i>
                            </a>
						</li>												
                        <li class="item">
						    <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=274685591@qq.com" target="_blank" class="social_email" rel="nofollow" title="邮箱">
                            <i class="icon-mail-alt"></i>
                            </a>
						</li>
                        <li class="item">
						    <a class="social_weixin" >
                            <i class="icon-wechat"></i><div class="chat-tips">
							<img style="width:150px;height:150px;" src="http://www.co-learn.cn/static/images/ewm.jpg" alt="微信订阅号"/></div>
							</a></li>					
                    </ul>
					
				</div>
			</div>
		</div>	
        <!--<div class="logged">
        <ul>
        <img src="http://www.lvzhezhi.com/wp-content/themes/traveler2/img/logout.png" alt="注册/登陆" title="注册/登陆" />
        <a href="http://www.lvzhezhi.com/wp-login.php" title="登陆">登陆</a>/<a href="http://www.lvzhezhi.com/wp-login.php?action=register" title="注册">注册</a>
        </ul>
        </div>-->
								
		<div class="left-search">
        	<i class="icon-search"></i>
			<div id="multiple-datasets">
				<input name="s" type="text" placeholder="搜索" id="s1"></div>
		    </div>	
      </div>
    <div id="main">
<div class="wrap">
	 
        	 
        <div class="index-post mb30">	
		<div class="article-title"><h3>最新文章</h3></div>
		<div class="posts">
		
															
                <div class="posts">
		
															<div class="content">
	<div class="content-aside-img">
		<a href="http://www.lvzhezhi.com/63.html" title="炙热八月，遇见台湾★台南+垦丁+花东+台北11天10夜全纪录" target="_blank">
							<img class="lazy thumbnail" src="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/tw1.jpg&amp;h=360&amp;w=750&amp;zc=1" data-original="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/tw1.jpg&amp;h=360&amp;w=750&amp;zc=1" alt="炙热八月，遇见台湾★台南+垦丁+花东+台北11天10夜全纪录" style="display: inline-block;">
				
					<div class="cover-text">
            <div class="text-detail">
                <p class="text-read"><i class=" icon-search"></i></p>
            </div>
        </div>
		</a> 
	</div>
	<div class="content-header">
		<a href="http://www.lvzhezhi.com/63.html" title="炙热八月，遇见台湾★台南+垦丁+花东+台北11天10夜全纪录">
			<h2>炙热八月，遇见台湾★台南+垦丁+花东+台北11天10夜全纪录</h2></a>
		<div class="content-info">
			<span class="mr10 postclock">2年前 (2014-09-29)</span>
			<span class="mr10 postuser"><i class="icon-user"></i><a href="http://www.lvzhezhi.com/author/lvzhezhi">旅者志</a></span>
			<span class="mr10 posteye"><i class=" icon-eye"></i>2,720</span>	
			<span class="mr10 postcomment"><i class="icon-comment"></i>
				<a href="http://www.lvzhezhi.com/63.html" title="评论">
					</a><a href="http://www.lvzhezhi.com/63.html#comments">1</a> 
			</span>
							<span>
					<a title="" href="javascript:;" data-action="ding" data-id="63" class="favorite" data-original-title="喜欢就赞一个！">
						<i class="  icon-thumbs-up" style="color:#f66"></i>
							<span class="count">
								49							</span>
					</a>
				</span>
				

			
		</div>
	</div>
	<div class="content-note">

		<p>“爱是一场风花雪月的追逐，爱是直到天荒地老的奔跑。
世界太大，我们很小。
唯愿至此启程，心手相连，踏遍天涯，走到海角……”
这是我在2012年和老公一起第一次出境自由行时写下的话，我希望，我们能够不忘初心，手牵着手，将我们的足迹印在越来越多地方。
因为我始终相信，最美的风景——在路上！
4年...</p>
		<span class="category-color">
		<a href="http://www.lvzhezhi.com/travel">旅记</a></span> 
		
		
		<div class="content-info-r">
		<span class="mr10"><a href="http://www.lvzhezhi.com/63.html" title="炙热八月，遇见台湾★台南+垦丁+花东+台北11天10夜全纪录" target="_blank">READ MORE</a><i class=" icon-export-alt"></i></span>	
		</div>
	</div>
</div>																			

<div class="content">
	<div class="content-header">
		<a href="http://www.lvzhezhi.com/58.html" title="阿莱奇冰川 一个即将融化的传奇" target="_blank">
			<h2>阿莱奇冰川 一个即将融化的传奇</h2>
		</a>
		<div class="content-info">
			<span class="mr10 postclock">2年前 (2014-09-29)</span>
			<span class="mr10 postuser"><i class="icon-user"></i><a href="http://www.lvzhezhi.com/author/lvzhezhi">旅者志</a></span>
			<span class="mr10 posteye"><i class=" icon-eye"></i>3,024</span>	
			<span class="mr10 postcomment"><i class="icon-comment"></i>
				<a href="http://www.lvzhezhi.com/58.html" title="评论">
					<span><span class="screen-reader-text">阿莱奇冰川 一个即将融化的传奇</span>已关闭评论</span></a> 
			</span>	
							<span>
					<a title="" href="javascript:;" data-action="ding" data-id="58" class="favorite" data-original-title="喜欢就赞一个！">
						<i class="  icon-thumbs-up" style="color:#f66"></i>
							<span class="count">
								71							</span>
					</a>
				</span>
				

			
		</div>
	</div>
		
	
	<div class="content-img">
		<a href="http://www.lvzhezhi.com/58.html" title="阿莱奇冰川 一个即将融化的传奇" target="_blank">	
							<img class="lazy thumbnail" src="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/alq1.jpg&amp;h=150&amp;w=240&amp;zc=1" data-original="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/alq1.jpg&amp;h=150&amp;w=240&amp;zc=1" alt="阿莱奇冰川 一个即将融化的传奇" style="display: block;">
				
				
		</a> 
	</div>
		<div class="content-note">

		<p>从日内瓦到我住的那个坐落在山顶的酒店会费尽周折，这个我是知道的，从2班火车换两班缆车缆车，最后要步行上山，仅仅火车就要3小时38分, 瑞士的火车就像是他们的手表一样准确,从东欧一路走来,一直在为这将近300公里的路程衔接捏着一把...</p>
		<span class="category-color">
		<a href="http://www.lvzhezhi.com/lvxian">旅线</a></span> 
		
		
		<div class="content-info-r">
		<span class="mr10"><a href="http://www.lvzhezhi.com/58.html" title="阿莱奇冰川 一个即将融化的传奇" target="_blank">READ MORE</a><i class=" icon-export-alt"></i></span>	
		</div>
	</div>
</div>																			

<div class="content">
	<div class="content-header">
		<a href="http://www.lvzhezhi.com/51.html" title="呼吸你的美-挪威十日行摄" target="_blank">
			<h2>呼吸你的美-挪威十日行摄</h2>
		</a>
		<div class="content-info">
			<span class="mr10 postclock">2年前 (2014-09-29)</span>
			<span class="mr10 postuser"><i class="icon-user"></i><a href="http://www.lvzhezhi.com/author/lvzhezhi">旅者志</a></span>
			<span class="mr10 posteye"><i class=" icon-eye"></i>61,304</span>	
			<span class="mr10 postcomment"><i class="icon-comment"></i>
				<a href="http://www.lvzhezhi.com/51.html" title="评论">
					</a><a href="http://www.lvzhezhi.com/51.html#comments">5</a> 
			</span>	
							<span>
					<a title="" href="javascript:;" data-action="ding" data-id="51" class="favorite" data-original-title="喜欢就赞一个！">
						<i class="  icon-thumbs-up" style="color:#f66"></i>
							<span class="count">
								103							</span>
					</a>
				</span>
				

			
		</div>
	</div>
		
	
	<div class="content-img">
		<a href="http://www.lvzhezhi.com/51.html" title="呼吸你的美-挪威十日行摄" target="_blank">	
							<img class="lazy thumbnail" src="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/lw1.jpg&amp;h=150&amp;w=240&amp;zc=1" data-original="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/lw1.jpg&amp;h=150&amp;w=240&amp;zc=1" alt="呼吸你的美-挪威十日行摄" style="display: block;">
				
				
		</a> 
	</div>
		<div class="content-note">

		<p>
从2009年第一次踏上挪威的土地，放佛中了她的魔，变得一发不可收拾，总想着再次前往。今年是第四次，每次大概都是十天，从最初的Norwayin a nutshell，到最美的Lofoten仙境，再到极光闪烁的Tromso和北极熊领地Svalbard，挪威从未让我...</p>
		<span class="category-color">
		<a href="http://www.lvzhezhi.com/lvxian">旅线</a></span> 
		
		
		<div class="content-info-r">
		<span class="mr10"><a href="http://www.lvzhezhi.com/51.html" title="呼吸你的美-挪威十日行摄" target="_blank">READ MORE</a><i class=" icon-export-alt"></i></span>	
		</div>
	</div>
</div>																			

<div class="content">
	<div class="content-header">
		<a href="http://www.lvzhezhi.com/44.html" title="感受纯净的澳洲之旅" target="_blank">
			<h2>感受纯净的澳洲之旅</h2>
		</a>
		<div class="content-info">
			<span class="mr10 postclock">2年前 (2014-09-29)</span>
			<span class="mr10 postuser"><i class="icon-user"></i><a href="http://www.lvzhezhi.com/author/lvzhezhi">旅者志</a></span>
			<span class="mr10 posteye"><i class=" icon-eye"></i>1,909</span>	
			<span class="mr10 postcomment"><i class="icon-comment"></i>
				<a href="http://www.lvzhezhi.com/44.html" title="评论">
					<span><span class="screen-reader-text">感受纯净的澳洲之旅</span>已关闭评论</span></a> 
			</span>	
							<span>
					<a title="" href="javascript:;" data-action="ding" data-id="44" class="favorite" data-original-title="喜欢就赞一个！">
						<i class="  icon-thumbs-up" style="color:#f66"></i>
							<span class="count">
								26							</span>
					</a>
				</span>
				

			
		</div>
	</div>
		
	
	<div class="content-img">
		<a href="http://www.lvzhezhi.com/44.html" title="感受纯净的澳洲之旅" target="_blank">	
							<img class="lazy thumbnail" src="http://www.lvzhezhi.com/wp-content/themes/traveler2/img/lazy_loading.gif" data-original="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/az1.jpg&amp;h=150&amp;w=240&amp;zc=1" alt="感受纯净的澳洲之旅">
				
				
		</a> 
	</div>
		<div class="content-note">

		<p>感受纯净的澳洲之旅——序
在年初，我和妹妹两家决定暑假安排一次家庭自助游，目标是澳大利亚，时间安排在暑假，南半球刚好是冬天且淡季。 我和妹妹计划了很久，分工协作完成了签证、机票、行程、租车、酒店、吃饭等安排。
行程其实很简...</p>
		<span class="category-color">
		<a href="http://www.lvzhezhi.com/travel">旅记</a></span> 
		
		
		<div class="content-info-r">
		<span class="mr10"><a href="http://www.lvzhezhi.com/44.html" title="感受纯净的澳洲之旅" target="_blank">READ MORE</a><i class=" icon-export-alt"></i></span>	
		</div>
	</div>
</div>																			

<div class="content">
	<div class="content-header">
		<a href="http://www.lvzhezhi.com/38.html" title="寻欢作乐莱比锡" target="_blank">
			<h2>寻欢作乐莱比锡</h2>
		</a>
		<div class="content-info">
			<span class="mr10 postclock">2年前 (2014-09-29)</span>
			<span class="mr10 postuser"><i class="icon-user"></i><a href="http://www.lvzhezhi.com/author/lvzhezhi">旅者志</a></span>
			<span class="mr10 posteye"><i class=" icon-eye"></i>1,145</span>	
			<span class="mr10 postcomment"><i class="icon-comment"></i>
				<a href="http://www.lvzhezhi.com/38.html" title="评论">
					<span><span class="screen-reader-text">寻欢作乐莱比锡</span>已关闭评论</span></a> 
			</span>	
							<span>
					<a title="" href="javascript:;" data-action="ding" data-id="38" class="favorite" data-original-title="喜欢就赞一个！">
						<i class="  icon-thumbs-up" style="color:#f66"></i>
							<span class="count">
								23							</span>
					</a>
				</span>
				

			
		</div>
	</div>
		
	
	<div class="content-img">
		<a href="http://www.lvzhezhi.com/38.html" title="寻欢作乐莱比锡" target="_blank">	
							<img class="lazy thumbnail" src="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/xh1.jpg&amp;h=150&amp;w=240&amp;zc=1" data-original="http://www.lvzhezhi.com/wp-content/themes/traveler2/timthumb.php?src=http://lvzhezhi.com/wp-content/uploads/2014/09/xh1.jpg&amp;h=150&amp;w=240&amp;zc=1" alt="寻欢作乐莱比锡" style="display: block;">
				
				
		</a> 
	</div>
		<div class="content-note">

		<p>18、19世纪，发达的出版印刷业让莱比锡成为了伟大作曲家扎堆的创作和首演中心。但这座青年荷尔蒙汹涌澎湃的“英雄之城”，却从未沉溺于巴赫和门德尔松之中，推倒那个不自由的民主德国后，他们在冷酷的电音节拍和摇曳的哥特装束下，继续...</p>
		<span class="category-color">
		<a href="http://www.lvzhezhi.com/travel">旅记</a></span> 
		
		
		<div class="content-info-r">
		<span class="mr10"><a href="http://www.lvzhezhi.com/38.html" title="寻欢作乐莱比锡" target="_blank">READ MORE</a><i class=" icon-export-alt"></i></span>	
		</div>
	</div>
</div><div class="ias-trigger ias-trigger-next" style="text-align: center; cursor: pointer;" id="ias_trigger_1480993829767"><a>加载更多</a></div>									</div>

            </div>
             
			<div class="clearfix"></div><div class="post-read-more"><a href="http://www.czt0731.com/2" >加载更多</a></div>		
	</div>


	
	<div class="index-appoint mb30">
        <div class="article-title"><h3>推荐阅读</h3></div>
            <div class="site-bottom">

                <ul>

                <#uptag tagtype="01" clsid="001011" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
			            <li> 
	            <div class="box">
		            <a href="${d.Url}" class="title" title="${d.Title}">${d.Title}</a>
		            <a href="${d.Url}" title="${d.Title}" rel="bookmark 	external" target="_blank">
									            <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                            <#else>
                            <img class="thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                            <#/if>
                        <#/if>
								            </a>
		            <p class="desc">${substr(filterhtml(d.Content),80)}...</p>
		            <div class="action">
			            <a href="${d.Url}" class="read" title="${d.Title}">阅读</a>
		            </div>
	            </div>
	            </li>
            <#/uptag>
				
                </ul>
            </div>
    </div>		
</div>
</div>
<div class="sidebar">
<div class="widget widget_suxingme_search">	
     
		<div class="search-input"> 
			<input class="search-text" placeholder="要不找一找？" type="text" name="s" id="s" value="" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
			<input type="button" value="　" class="search-button" onclick="so()">
		</div>
 

</div>
    <div class="widget widget_suxingme_note">
    <div class="widget-container"><div class="widget_ad_title"><div class="ad-t">交通</div></div>     
	<ul>
        <#uptag tagtype="01" clsid="001003" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
		<li><a href="${d.Url}" target="_blank"><i class="icon-lightbulb"></i><p>${d.Title}(${cdatestring(d.CreatedTime,"MM/dd")})</p></a></li>
          <#/uptag>
	</ul>
	
	
</div></div>
    <div class="widget widget_suxingme_ad">
    <div class="widget_ads">
        <a class="ad-border" href="#">
    <div class="widget_ad_title">
        <div class="ad-t">天气</div>
    </div>
       <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=82" width="250" height="440" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </a>
        </div></div>

       <div class="widget widget_suxingme_hotpost"><div class="w_title"><h3>知识</h3></div>
      <#uptag tagtype="01" clsid="001010" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
          <li><a href="${d.Url}" rel="bookmark"	title="${d.Title}">
              <div class="overlay"></div>
             
              	<#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                         <#else>
                          <img class="thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                         <#/if>
                        <#/if>
              <span><i class="icon-chat"></span></i><p class="title">${d.Title}</p></a></li>

             <#/uptag>
    </div>

          <div class="widget widget_suxingme_mostviews"><div class="w_title"><h3>特产</h3></div>		             					
					 <#uptag tagtype="01" clsid="001007" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
          <li><a href="${d.Url}" rel="bookmark"	title="${d.Title}">
              <div class="overlay"></div>
             
              	<#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                         <#else>
                          <img class="thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                         <#/if>
                        <#/if>
              <span><i class="icon-chat"> </span></i><p class="title">${d.Title}</p></a></li>

             <#/uptag>
            </div>
    
    <div class="widget widget_suxingme_comment"><div class="w_title"><h3>教育</h3></div><ul class="w_comment">
        <#uptag tagtype="01" clsid="001005" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
            <li><a href="${d.Url}" rel="bookmark"	title="${d.Title}">${d.Title}</a></li> 
              <#/uptag>
            </ul>
    </div>
    
    <div class="widget suxingme_tag"><div class="w_title"><h3>热门标签</h3></div>
    <div class="widge_tags"><ul class="widget_tags_ul">
          <#uptag tagtype="01" clsid="001012" pagesize="20" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
        <li><a href="http://www.czt0731.com/so.html?keywords=${toescape(d.title)}" title="" data-original-title="${d.Title}">${d.Title} </a></li>
        <#/uptag>
        
        </ul></div></div>

    </div></div>
    </div>
<div id="footer">
<div class="site-footer">

<p class="copyright">Copyright © 2016 <a href="http://www.czt0731.com" title="长株潭0731" rel="home">长株潭0731</a>  All Rights Reserved. 湘ICP备13008147号-3</p>
</div>
<div id="totop"><i class="icon-up-open"></i></div>
</div>


<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery-ias.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/traveler.js"></script>
<script type="text/javascript" src="http://www.czt0731.com/static/js/common.js"></script>

<script type="text/javascript">
var ias = $.ias({
    container: ".posts", 
    item: ".content", 
    pagination: ".post-read-more",
    next: ".post-read-more a", 
});

ias.extension(new IASTriggerExtension({
    text: '加载更多', 
    offset: 1, 
}));
ias.extension(new IASSpinnerExtension());
ias.extension(new IASNoneLeftExtension({
    text: '<a>加载完成</a>',
}));
</script>
	
<script type="text/javascript">
$(function(){var win_width=$(window).width();var wrap_width=$('#wrap').width();var totop_width=$('#totop').width();var totop_posi=([win_width-wrap_width]/25-totop_width);$('#totop').css({'right':totop_posi});$(window).scroll(function(){if($(window).scrollTop()>=200){$('#totop').slideDown(200)}else{$('#totop').slideUp(200)}});$('#totop').click(function(){$('body,html').animate({scrollTop:0},200)})});
</script>
<script type="text/javascript" src="/static/js/jquery.lazyload.min.js"></script> 
<script type="text/javascript">
jQuery(function() {         
    jQuery("img").lazyload({effect : "fadeIn",failure_limit : 10 ,threshold : 50 ,}); });
ias.on('rendered', function(items) {
	$("img.lazy").lazyload({effect : "fadeIn",failure_limit : 10 ,threshold : 50 ,});
})	
</script>
<script type="text/javascript" src="/static/js/responsiveslides.min.js"></script>
<script>
$(function() {
	$('#suxingmeslider').responsiveSlides({
		pager: true,
		nav: true,
		namespace: 'centered-btns',
	});
});
</script>

    <script>
        //$(function () {
        //    var total = "";
        //    var datalist = new Object();
        //    $.ajax({
        //        type: "GET",
        //        async:false,
        //        url: "/AjaxNews/GetNewsList.cspx?rows=20&page=1&ChannelId=001001,001002,001003,001004,001005,001006,001007&keywords=",
        //        success: function (responseText) {
        //            if (responseText != "") {
        //                total = Math.ceil(responseText.total/20);
        //                datalist = responseText;
        //                var solist = "";
        //                var ctime = "";

        //                for (var i = 0; i < datalist.rows.length; i++) {

        //                    if (datalist.rows[i].CreatedTime != "" && datalist.rows[i].CreatedTime != null) {
        //                        var UploadDate = datalist.rows[i].CreatedTime.replace("/Date(", "").replace(")/", "");
        //                        ctime = getLocalTime(UploadDate.substr(0, 10));
        //                    }
        //                    var strImg = "";
        //                    if (datalist.rows[i].ImgUrl != "" && datalist.rows[i].ImgUrl != "null" && datalist.rows[i].ImgUrl != null) {
        //                        if (datalist.rows[i].ImgUrl.toLowerCase().indexOf("http://") === 0) {
        //                            strImg = ' <div class="focus"><a target="_blank" href="' + datalist.rows[i].Url + '" class="thumbnail"><img  src="' + datalist.rows[i].ImgUrl + '" alt="' + datalist.rows[i].Title + '" /></a></div>';
        //                        } else {
        //                            strImg = ' <div class="focus"><a target="_blank" href="' + datalist.rows[i].Url + '" class="thumbnail"><img  src="http://img.pinyifu.com' + datalist.rows[i].ImgUrl + '" alt="' + datalist.rows[i].Title + '" /></a></div>';

        //                        }
        //                    }
        //                    solist += ' <article class="excerpt">' + strImg + '' +
        //                            '<header><h2><a href="' + datalist.rows[i].Url + '" title="' + datalist.rows[i].Title + '">' + datalist.rows[i].Title + '</a></h2>   </header>' +
        //                            '<p><span class="muted"><i class="icon-user icon12"></i></span>' +
        //                            '<span class="muted"><i class="icon-time icon12"></i>  ' + ctime + '</span> </p>' +
        //                            ' <p class="note">' + removeHTMLTag(datalist.rows[i].Content).substr(0, 150) + '</p> </article>';

        //                }
        //                $('#p1').html(solist);
        //            }
        //        }
        //    });
        //});




    </script>


	
 
</body>
</html>