
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>文化--长株潭0731</title>
<meta name="keywords" content="湖南人文，湖湘文化，长沙历史，长沙保卫战" />
<meta name="description" content="发布对湖南长株潭地区历史人文的了解" />
<link rel="canonical" href="http://www.czt0731.com/wh/"/>
<link rel="Shortcut Icon" href="/static/images/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
 

<link rel='stylesheet' id='fontello-css'  href='/static/css/fontello.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css'  href='/static/css/czt0731.css' type='text/css' media='all' />
</head>
<body>
<div id="wrapper">
	<div id="sitetopbar">
		<div class="site-logo">
			<h1><a href="/" title="长株潭0731">
									<img src="/static/images/logo.png" alt="长株潭0731">
								</a></h1>
		</div>
		<div class="site-logo-m">
			<h1><a href="/" title="长株潭0731">长株潭0731</a></h1>
		</div>
		<div role="navigation"  class="site-nav left-menu">
			<h1 class="minimenu-text"><i class="icon-align-justify"></i></h1>
            <ul id="menu-navigation" class="menu"><li><a href="/"><i class="icon-home-4"></i>首页</a></li>
                <li><a href="/fc/"><i class="icon-flag"></i>房产</a></li>
                <li><a href="/ly/"><i class="icon-videocam"></i>旅游</a></li>
                <li><a href="/jt/"><i class="icon-camera-alt"></i>交通</a></li>
                <li><a href="/wh/"><i class="icon-box"></i>文化</a></li>
                <li><a href="/jy/"><i class="icon-flag"></i>教育</a></li>
                <li><a href="/sy/"><i class="icon-flag"></i>商业</a></li>
                <li><a href="/tc/"><i class="icon-box"></i>特产</a></li>
                <li class="submenu"><a><i class=" icon-floppy"></i>便民生活 <span class="sign "></span></a>
                <ul class="sub-menu">
                    <li><a href="/">交通查询</a></li>
                    <li><a href="/">贷款查询</a></li>
                    <li><a href="/">景点查询</a></li>
                    <li><a href="/">医院查询</a></li>
                    <li><a href="/">天气查询</a></li>
                </ul>
            </li>
            </ul>		
        </div>
				<div class="social_a"> 
			<p class="follow"><a class="mfp-follow-link big-link " href="javascript:;"><img class="sux-iconx26" src="/static/images/gz.png" alt="关注我们"><span class="followtext">关注我们</span></a></p>
			
			<div class="reveal-modal" >
			<div class="leftsocialmask"></div>
				<div id="mfp-follow" class="white-popup">
					<ul class="items clearfix">
													<!--<li class="item">
								<a href="http://www.suxing.me" target="_blank" class="social_weibo" rel="nofollow" title="微博"><i class="icon-weibo"></i></a> </li>-->
						<li class="item">
						    <a href="http://wpa.qq.com/msgrd?v=3&uin=274685591&site=qq&menu=yes" target="_blank" class="social_qq" rel="nofollow" title="QQ">
                                <i class="icon-qq"></i>
                            </a>
						</li>												
                        <li class="item">
						    <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=274685591@qq.com" target="_blank" class="social_email" rel="nofollow" title="邮箱">
                            <i class="icon-mail-alt"></i>
                            </a>
						</li>
                        <li class="item">
						    <a class="social_weixin" >
                            <i class="icon-wechat"></i><div class="chat-tips">
							<img style="width:150px;height:150px;" src="http://www.co-learn.cn/static/images/ewm.jpg" alt="微信订阅号"/></div>
							</a></li>					
                    </ul>
					
				</div>
			</div>
		</div>	
        <!--<div class="logged">
        <ul>
        <img src="http://www.lvzhezhi.com/wp-content/themes/traveler2/img/logout.png" alt="注册/登陆" title="注册/登陆" />
        <a href="http://www.lvzhezhi.com/wp-login.php" title="登陆">登陆</a>/<a href="http://www.lvzhezhi.com/wp-login.php?action=register" title="注册">注册</a>
        </ul>
        </div>-->
								
		<div class="left-search">
        	<i class="icon-search"></i>
			<div id="multiple-datasets">
				<input name="s" type="text" placeholder="搜索" id="s1"></div>
		    </div>	
      </div>
    <div id="main">
<div class="wrap">
 	 
    <div class="index-post mb30">	
		<div class="article-title"><h3>文化</h3></div>
		<div class="posts">
		
															
            <#uptag tagtype="01" clsid="001004" pagesize="12" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
         <#if  test="${equals(i,1)}">
                 <div class="content">
                    <div class="content-aside-img">
                        <a href="${d.Url}" title="${d.Title}" target="_blank">
                           <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="lazy thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                         <#else>
                          <img class="lazy thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                         <#/if>
                        <#/if>

                            <div class="cover-text">
                                <div class="text-detail">
                                    <p class="text-read"><i class="icon-search"></i></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content-header">
                        <a href="${d.Url}" title="${d.Title}">
                            <h2>${d.Title}</h2>
                        </a>
                        <div class="content-info">
                             <span class="mr10 postclock">${cdatestring(d.CreatedTime,"yyyy-MM-dd")}</span>
                            <span class="mr10 postuser"><i class="icon-user"></i>${d.author}</span>

                        </div>
                    </div>
                    <div class="content-note">

                        <p>
                            ${substr(filterhtml(d.Content),80)}
                        </p>
                        <span class="category-color">
                            <a href="${d.Url}">${d.ChannelName}</a>
                        </span>


                        <div class="content-info-r">
                            <span class="mr10"><a href="${d.Url}" title="${d.Title}" target="_blank">READ MORE</a><i class="icon-export-alt"></i></span>
                        </div>
                    </div>
                </div>
           <#elseif  test="${equals(i,2)}">
     

                <div class="content">
                    <div class="content-status">
                        <i class="icon-quote-left"></i>
                        <a href="${d.Url}" title="${d.Title}"><p> ${substr(filterhtml(d.Content),80)}...</p></a>
                        <div class="status-info">
                            <span class="mr10 postuser"><a href="http://www.czt0731.com/${d.ChannelEnName}"><i class="icon-user"></i>${d.ChannelName}</a></span>
                              <span class="mr10 postclock">${cdatestring(d.CreatedTime,"yyyy-MM-dd")}</span>
                        </div>

                    </div>
                </div>
                 <#else> 
                <div class="content">
                    <div class="content-header">
                        <a href="${d.Url}" title="${d.Title}" target="_blank">
                            <h2>${d.Title}</h2>
                        </a>
                        <div class="content-info">
                             <span class="mr10 postclock">${cdatestring(d.CreatedTime,"yyyy-MM-dd")}</span>
                            <span class="mr10 postuser"><i class="icon-user"></i>${d.author}</span>



                        </div>
                    </div>


                    <div class="content-img">
                        <a href="${d.Url}" title="${d.Title}" target="_blank">
                            <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="lazy thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                         <#else>
                          <img class="lazy thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                         <#/if>
                        <#/if>
                        </a>
                    </div>
                    <div class="content-note">

                        <p>${substr(filterhtml(d.Content),80)}...</p>
                        <span class="category-color">
                            <a href="http://www.czt0731.com/${d.ChannelEnName}">${d.ChannelName}</a>
                        </span>


                        <div class="content-info-r">
                            <span class="mr10"><a href="${d.Url}" title="${d.Title}" target="_blank">READ MORE</a><i class=" icon-export-alt"></i></span>
                        </div>
                    </div>
                </div>

            
                
                <#/if>
                   <#/uptag>
            </div>
             
			<div class="navigation container">
                <div class='pagination1'>
                     <#set name="locafilename" value="index"/>
                        <#for from="1" to="${pagecount}" index="rowindex">
                          <#if test="${equals(rowindex,1)}"> 
                             <#if test="${comparenocase(rowindex,curpage)}">
                                <a class="current">${rowindex}</a>
                             <#else>
                              <a href="${locafilename}.html" target="_self">${rowindex}</a>
                             <#/if> 
                         <#else> 
                          <#if test="${comparenocase(rowindex,curpage)}">
                            <a class="current">${rowindex}</a>
                         <#else>
                            <a href="${locafilename}_${rowindex}.html" target="_self">${rowindex}</a>
                         <#/if> 
                         <#/if> 
                     <#/for> 
                
                </div>
            </div>	
	</div>
	 
</div>
</div>
<div class="sidebar">
<div class="widget widget_suxingme_search">	
     
		<div class="search-input"> 
			<input class="search-text" placeholder="要不找一找？" type="text" name="s" id="s" value="" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
			<input type="button" value="　" class="search-button" onclick="so()">
		</div>
 

</div>
    <div class="widget widget_suxingme_note"><div class="widget-container"><div class="widget_ad_title"><div class="ad-t">交通</div></div>     
	<ul>
        <#uptag tagtype="01" clsid="001011" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
		<li><i class="icon-lightbulb"></i><p>${d.Title}(${cdatestring(d.CreatedTime,"MM/dd")})</p></li>
          
            	    <#/uptag>
	</ul>
	
	
</div></div>
    <div class="widget widget_suxingme_ad">
    <div class="widget_ads">
        <a class="ad-border" href="#">
    <div class="widget_ad_title">
        <div class="ad-t">天气</div>
    </div>
       <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=82" width="250" height="440" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </a>
        </div></div>

       <div class="widget widget_suxingme_hotpost"><div class="w_title"><h3>知识</h3></div>
      <#uptag tagtype="01" clsid="001010" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
          <li><a href="${d.Url}" rel="bookmark"	title="${d.Title}">
              <div class="overlay"></div>
             
              	<#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                         <#else>
                          <img class="thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                         <#/if>
                        <#/if>
              <span><i class="icon-chat">11 </span></i><p class="title">${d.Title}</p></a></li>

             <#/uptag>
    </div>

          <div class="widget widget_suxingme_mostviews"><div class="w_title"><h3>特产</h3></div>		             					
					 <#uptag tagtype="01" clsid="001007" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
          <li><a href="${d.Url}" rel="bookmark"	title="${d.Title}">
              <div class="overlay"></div>
             
              	<#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                            <img class="thumbnail" src="${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />
                         <#else>
                          <img class="thumbnail" src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}" alt="${d.Title}" />

                         <#/if>
                        <#/if>
              <span><i class="icon-chat">11 </span></i><p class="title">${d.Title}</p></a></li>

             <#/uptag>

					
				 			</div><div class="widget widget_suxingme_comment"><div class="w_title"><h3>教育</h3></div><ul class="w_comment">
        <#uptag tagtype="01" clsid="001005" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
            <li><a href="${d.Url}" rel="bookmark"	title="${d.Title}">${d.Title}</a></li> 
              <#/uptag>
            </ul>
    </div>
    
    <div class="widget suxingme_tag"><div class="w_title"><h3>热门标签</h3></div>
    <div class="widge_tags"><ul class="widget_tags_ul">
          <#uptag tagtype="01" clsid="001012" pagesize="20" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
        <li><a href="http://www.czt0731.com/so.html?keywords=${toescape(d.title)}" title="" data-original-title="${d.Title}">${d.Title} </a></li>
        <#/uptag>
        
        </ul></div></div>

    </div></div>
    </div>
<div id="footer">
<div class="site-footer">

<p class="copyright">Copyright © 2016 <a href="http://www.czt0731.com" title="长株潭0731" rel="home">长株潭0731</a>  All Rights Reserved. 湘ICP备13008147号-3
	 
	 
	</p>
</div>
<div id="totop"><i class="icon-up-open"></i></div>
</div>
 
 
<script type="text/javascript" src="/static/js/traveler.js"></script>
	  <script type="text/javascript" src="http://www.czt0731.com/static/js/common.js"></script>
 
	
<script type="text/javascript">
$(function(){var win_width=$(window).width();var wrap_width=$('#wrap').width();var totop_width=$('#totop').width();var totop_posi=([win_width-wrap_width]/25-totop_width);$('#totop').css({'right':totop_posi});$(window).scroll(function(){if($(window).scrollTop()>=200){$('#totop').slideDown(200)}else{$('#totop').slideUp(200)}});$('#totop').click(function(){$('body,html').animate({scrollTop:0},200)})});
</script>
<script type="text/javascript" src="/static/js/jquery.lazyload.min.js"></script> 
<script type="text/javascript">
jQuery(function() {         
    jQuery("img").lazyload({effect : "fadeIn",failure_limit : 10 ,threshold : 50 ,}); });
 
</script>

	
 
</body>
</html>