
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>休闲-拼衣服</title>
      <meta name="keywords" content="休闲服饰十大品牌，休闲装品牌排名，休闲裤品牌排行榜，休闲服品牌" />
<meta name="description" content="崇尚自由和个性的休闲服装正在成为人们穿衣的主流趋势。是永恒的经典，不管是运动、奢华、时尚，都有他的一席之地。一身休闲服让你更显活力，是出行游玩的最佳装扮" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
<link rel='stylesheet'   href='../static/css/kube.css?ver=4.5.4' type='text/css' media='all' />
<link rel='stylesheet'  href='../static/css/pinyifu.css?ver=20150910' type='text/css' media='all' />
<script type='text/javascript' src="../static/js/jquery-1.7.2.min.js"></script>
<style>
	#post_container .fixed-hight .thumbnail{height:278px; overflow: hidden;}
	.related,.related_box{height: 203px;}
	.related_box .r_pic,.related_box .r_pic img {height: 113px;}	
</style>
</head>
<body  class="custom-background">
<!---加载进度条---->
<script type="text/javascript">
jQuery(function(){
jQuery('#loading-one').empty().append('页面载入完毕.').parent().fadeOut('slow');
});
</script>
<div id="main_loading"  onclick="javascript:turnoff('loading')">
<p id="loading-one" onclick="javascript:turnoff('loading')">页面载入中...</p>
</div>
<script type="text/javascript">
//<![CDATA[
function turnoff(obj){
document.getElementById(obj).style.display="none";
}
//]]&gt;
</script>
<!---加载进度条---->
		<div id="head" class="row">
        			
        	<div class="mainbar row">
                <div class="container">
                        <div id="topbar">
                            <ul id="toolbar" class="menu"><li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a class="help" href="javascript:void(0);" onclick="AddFavorite('脚本之家','http://www.pinyifu.com')" rel="sidebar">收藏本站</a></li>
<li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="mailto:274685591@qq.com" target="_blank" class="rssmail" title="给我发邮件" rel="nofollow">联系邮箱</a></li>
</ul>                        </div>
                        <div id="rss">
                            <ul>
                                <li><a href="http://www.pinfyiu.com" target="_blank" class="icon1" title="欢迎来到拼衣服站"></a></li>
                                <li><a href="http://www.qq.com" target="_blank" class="icon2" title="我的腾讯微博" rel="nofollow"></a></li>                                                                <li><a href="http://www.weibo.com" target="_blank" class="icon3" title="我的新浪微博" rel="nofollow"></a></li>                                                            </ul>
                        </div>
                 </div>  
             </div>
             <div class="clear"></div>
         				<div class="container">
					<div id="blogname" class="third">
                    	<a href="http://www.pinfyiu.com" title="拼衣服"><h1>拼衣服</h1><img src="/static/images/logo.png" alt="拼衣服" /></a>
                    </div>
                 	 <div class="banner push-right">
                              <#uptag tagtype="01" clsid="003001" pagesize="1" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
    
                            <a href="${d.Url}" target="_blank"><img class="alignnone size-full wp-image-317" src="http://img.pinyifu.com${d.ImgUrl}" alt="" width="600" srcset="" sizes="(max-width: 600px) 100vw, 600px"></a>		
                                <#/uptag>
                 				</div>
                	</div>
				<div class="clear"></div>
		</div>
		<div class="mainmenus container">
			<div class="mainmenu">
				<div class="topnav">
	<a href="/" title="首页" class="home_none">首页</a>
   <div class="menu-button"><i class="menu-ico"></i></div>
 <ul id="menu-%e6%8a%80%e6%9c%af%e5%88%86%e4%ba%ab" class="menu"><li id="menu-item-306" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-306"><a href="/sz/">时装</a></li>
<li id="menu-item-308" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-308"><a href="/jp/">街拍</a></li>
<li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-22"><a href="/pp/">品牌</a>
<ul class="sub-menu">
    <li id="menu-item-17" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17"><a href="/nz/">男装</a></li>
    <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a href="/nvzhuang/">女装</a></li>
    <li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a href="/ny/">内衣</a></li>
    <li id="menu-item-19" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19"><a href="/tz/">童装</a></li>
    <li id="menu-item-20" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19"><a href="/pj/">皮具</a></li>
    <li id="menu-item-21" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-19 current-menu-item"><a href="/xx/">休闲</a></li>
</ul>
</li>
<li id="menu-item-309" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-309"><a href="/dp/">搭配</a></li>
<li id="menu-item-307" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-307"><a href="/sj/">设计</a></li>
<li id="menu-item-221" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-221"><a href="/yw/">尤物</a></li>
<li id="menu-item-223" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-223"><a href="/ml/">面料</a></li>
<li id="menu-item-224" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-224"><a href="/mr/">美容</a></li>
<li id="menu-item-285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="/sh/">奢华</a></li>
</ul>                    
                <ul class="menu-right">
                    <li class="menu-search">
                    	<a href="#" id="menu-search" title="搜索"></a>
                    	<div class="menu-search-form ">
						 
                            	<input name="s" type="text" id="s" value="" maxlength="150" placeholder="请输入搜索内容" x-webkit-speech style="width:135px">
                            	<input type="button" value="搜索" class="button"   onclick="so()"/>
                            <script language="javascript">
            function so() {
                var keywords = $("#s").val();
                window.location.href= '/so.html?keywords=' + escape(keywords);
            }

                </script>
                        </div>
                    </li>
                </ul> 
                                 <!-- menus END -->                    
            </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="container">
			                <div class="subsidiary box">
                    <div class="bulletin fourfifth">
                        <span class="sixth">当前位置：</span><div itemscope itemtype="http://www.pinyifu.com" id="crumbs"> <a itemprop="breadcrumb" href="http://www.pinyifu.com">首页</a> <span class="delimiter">></span> <span class="current">时装</span></div>                     </div>
                </div>
            	<div id="sidebar">
                <div class="widget box row">
                    <div class="d_banner_inner">
                   

                        <#uptag tagtype="01" clsid="003004" pagesize="1" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                             <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                             <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                              <a href="${d.Url}"><img src="${d.ImgUrl}"></a>
                             <#else>
                           <a href="${d.Url}"><img src="http://img.pinyifu.com${d.ImgUrl}"></a>
                        <#/if>
                        <#/if>
                    <#/uptag>
                        
                    </div>
                 </div>

            <div class="widget box row"><h3>热搜趣闻</h3><div class="siderbar-list"><ul class="imglist clear">       
                   <#uptag tagtype="01" clsid="001023" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                 <li class="post" style="min-height: 140px">
                     <a href="${d.Url}" title="${d.Title}">
                      <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                             <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                                 <img src="${d.ImgUrl}" width="142" height="90" alt="${d.Title}" />
                           <#else>
                                  <img src="http://img.pinyifu.com${d.ImgUrl}" width="142" height="90" alt="${d.Title}" />
                           <#/if>
                       <#/if>
                     <h4>${d.Title}</h4></a>
                  </li>
              <#/uptag>
                </ul></div></div>
            <div class="widget box row"><h3>边栏标签</h3>		

	<div class="tagcloud">
         <#uptag tagtype="01" clsid="001021" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
		    <a href='http://www.pinyifu.com/so.html?keywords=${toescape(d.title)}' class='tag-link-13 tag-link-position-${i}' title='${d.Title}' style='font-size: 10pt;'>${d.Title}</a>	
        <#/uptag>
     </div>
</div>		  <div class="widget box row">
		  	<div id="tab-title">
				<div class="tab">
					<ul id="tabnav">
						<li>最新文章</li>
						<li class="selected">热评文章</li>
						<li>随机文章</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tab-content">
                <ul class="hide">
                <#uptag tagtype="01" clsid="001008,001002,001019" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                <li><a href='${d.Url}' title="${d.Title}">${d.Title}</a></li> 
                <#/uptag>
                </ul>
                <ul>
                <#uptag tagtype="01" clsid="001018,001016,001001" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                <li><a href= "${d.Url}" target="_blank" rel="bookmark" title="${d.Title}" >${d.Title}</a></li>
                <#/uptag>
                </ul>
                <ul class="hide">
                <#uptag tagtype="01" clsid="001007,001005,001020" pagesize="10" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                <li><a href='${d.Url}' title="${d.Title}">${d.Title}</a></li> 
                <#/uptag>
                </ul>
             </div>
          </div>
     
            <div id="sidebar-follow">
		</div>
</div>    <div class="mainleft">
        <ul id="post_container" class="masonry clearfix">
						 
				 <p id="p1"></p>
	    	</ul>
		<div class="clear"></div>
			 <div id="fycenter">
                    <ul class="pagination" id="pagination1"></ul>
                </div>
		</div>
	</div>

<div class="clear"></div>

<div class="clear"></div>
<footer id="footer">
  <div class="content">
    <nav class="inner">
      <aside id="describe" class="group">
        <h3>拼衣服</h3>
        <p class="describe-text">站内部分资源收集网络，版权属于原作者，网站提供的资源下载是出于学习交流之用，如有侵犯原作者的版权，请来信告知，我们将立即做出整改，并在24小时内给予相应的答复，谢谢合作！</p>
        <p class="stamp"></p>
      </aside>
      <aside class="group">
        <h3 class="title">关于</h3>
        <div class="menu-about-container">
          <ul id="footnav1" class="menu"><li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263"><a href="mailto:274685591@qq.com">投稿</a></li>
            <li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262"><a href="http://www.pinyifu.com">关于拼衣服</a></li>

</ul>        </div>
      </aside>
      <aside class="group">
        <h3 class="title">栏目</h3>
        <div class="menu-category-container">
          <ul id="footnav2" class="menu">
            <li id="menu-item-265" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-265"><a href="/nz/">男装</a></li>
            <li id="menu-item-266" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-266"><a href="/nvzhuang/">女装</a></li>
            <li id="menu-item-267" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-267"><a href="/ny/">内衣</a></li>
            <li id="menu-item-268" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-268"><a href="/tz/">童装</a></li>
            <li id="menu-item-269" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-268"><a href="/pj/">皮具</a></li>
            <li id="menu-item-270" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-268"><a href="/xx/">休闲</a></li>
</ul>        </div>
      </aside>
       
      <aside class="group">
        <h3 class="title">友链</h3>
        <div class="menu-links-container">
          <ul id="friendlink1" class="menu">
          <li id="menu-item-269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-269"><a href="http://www.co-learn.cn">一起学金融</a></li>
 
         </ul>      
          </div>
      </aside>
           
    </nav>
    <section class="site-info">
      <p class="copyright"> Copyright © 2012-2016 By <a href="http://www.pinyifu.com/" target="_blank" rel="external">拼衣服</a> All Rights Reserved. <a href="http://www.miitbeian.gov.cn/" rel="external"> 湘ICP备13008147号-2</a> </p>
    </section>
  </div>
</footer>
</div>
<!--gototop-->
<div id="tbox">
      <a id="gotop" href="javascript:void(0)"></a> </div>
<script type='text/javascript' src='../static/js/orange.js?ver=1.0'></script>
 

	<script>//window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];</script>

    <script>


        $(function () {
            var total = "";
            var datalist = new Object();
            $.ajax({
                type: "GET",
                async:false,
                url: "/AjaxNews/GetNewsList.cspx?rows=20&page=1&ChannelId=004006&keywords=",
                success: function (responseText) {
                    if (responseText != "") {
                        total = Math.ceil(responseText.total/20);
                        datalist = responseText;
                    }

                }
            });

            $.jqPaginator('#pagination1', {
                totalPages: total,
                visiblePages: 10,
                currentPage: 1,
                wrapper:'',
                first: '<li class="first"><a href="javascript:void(0);" target="_blank">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:void(0);" target="_blank">上一页</a></li>',
                next: '<li class="next"><a href="javascript:void(0);" target="_blank">下一页</a></li>',
                last: '<li class="last"><a href="javascript:void(0);" target="_blank">最后一页</a></li>',
                page: '<li class="page"><a href="javascript:void(0);" target="_blank">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    if (num > 1) {
                        getpagedata("004006", num, 20)
                    } else {
                        if (datalist != "") {

                            var solist = "";
                            var ctime = "";

                            for (var i = 0; i < datalist.rows.length; i++) {

                                if (datalist.rows[i].CreatedTime != "" && datalist.rows[i].CreatedTime != null) {
                                    var UploadDate = datalist.rows[i].CreatedTime.replace("/Date(", "").replace(")/", "");
                                    ctime = getLocalTime(UploadDate.substr(0, 10));
                                }
                                var strImg = "";
                                if (datalist.rows[i].ImgUrl != "" && datalist.rows[i].ImgUrl != "null" && datalist.rows[i].ImgUrl != null) {
                                    if (datalist.rows[i].ImgUrl.toLowerCase().indexOf("http://") === 0) {
                                        strImg = ' <div class="thumbnail"><a target="_blank" href="' + datalist.rows[i].Url + '" class="zoom" rel="bookmark" title="' + datalist.rows[i].Title + '"><img  src="' + datalist.rows[i].ImgUrl + '" alt="' + datalist.rows[i].Title + '"  width="300" height="200"/></a></div>';
                                    } else {
                                        strImg = ' <div class="thumbnail"><a target="_blank" href="' + datalist.rows[i].Url + '" class="zoom" rel="bookmark" title="' + datalist.rows[i].Title + '"><img  src="http://img.pinyifu.com' + datalist.rows[i].ImgUrl + '" alt="' + datalist.rows[i].Title + '"  width="300" height="200"/></a></div>';

                                    }
                                }


                                solist += '<li class="post box row fixed-hight">' + strImg + '' +
                                        '<div class="article">' +
                                        '<h2><a href="' + datalist.rows[i].Url + '"  rel="bookmark" target="_blank" title="' + datalist.rows[i].Title + '">"' + datalist.rows[i].Title + '"</a></h2></div>' +
                                         '<div class="info"><span class="info_date info_ico"> ' + ctime + '</span></div>' +
                                       ' <div class="meta_rel">' +
                                     '<div class="title"> <a title="' + datalist.rows[i].Title + '" rel="bookmark" href="' + datalist.rows[i].Url + '">"' + datalist.rows[i].Title + '"</a> </div>' +
                                    '<div class="extra">' +
                                    '<time class="time"> ' + ctime + '</time></div></div></li>';
                            }
                        }
                        $('#p1').html(solist);
                    }

                }
            });
            $("#fycenter").css("width", $("#pagination1").width() + 90);
            $("#fycenter").css("margin", "0 auto");

        });


    </script>
    <script type="text/javascript" src="http://www.pinyifu.com/static/js/jqPaginator.js"></script>
    <script type="text/javascript" src="http://www.pinyifu.com/static/js/common.js"></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1022ed8434e92476c08865ef69c416c8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</body></html>