body, a, table, div, span, td, th, input, select{font:9pt;font-family: "ו", Verdana, Arial, Helvetica, sans-serif;}
body { padding: 0px;}
td {line-height:150%}
table.content {background-color:#000000;width:100%;}
table.content td {background-color:#ffffff;width:18px;height:18px;text-align:center;vertical-align:middle;cursor:hand;}
.card {cursor:hand;background-color:#3A6EA5;text-align:center;}