
<!DOCTYPE html>
<html>
<head>
<title>口味派|口味派对|不同口味集中地</title> 
<meta name="keywords" content="海外购,海淘,三只松鼠，良品铺子，百草味，零食，酸奶，坚果" />
<meta name="description" content="口味派kouweipai.com专注绿色食品，将符合人体健康营养要求，无毒无害的美味食品推荐给大家，这里是人气最高，大众最喜爱的零食集中地。" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<link rel="shortcut icon" href="http://static.haitao.com/img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="http://static.haitao.com/img/app.png">
<meta charset="utf-8">
<link rel="stylesheet" rev="stylesheet" href="/static/css/basic_all.css?v=01" type="text/css" media="screen">
<link rel="stylesheet" rev="stylesheet" href="/static/css/main.css?v=01" type="text/css" media="screen">
<link rel="stylesheet" rev="stylesheet" href="/static/css/basic_mobile.css?v=01" type="text/css" media="screen">
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript"> 
    if (top.location !== self.location) {
    top.location=self.location;
 }
</script>
</head>
<body>
<div class="content">

<div class="top_nav" id="top">
<div class="w90 clear top_nav_content">
<div class="fl">
<ul>
<li><a href="https://s.click.taobao.com/Uwg3XKx">合作天猫</a></li>
<li><a href="http://union.click.jd.com/jdc?e=0&p=AyIHUitaJQMiQwpDBUoyS0IQWhkeHAxVDEsESlZPGA5OREdcThkCRQVAHUtCCUZrD1F2YTQdQXRgG0cPQBscVk0FDBpddQ4eN1EdWBICGgZUGmsSARo3ZXopJUN8A1ccUhAyFgFWHFwcAxIEZRteHAITD1IYXxUHFAJlHGtFX1ZZVRtaJTIiNw%3D%3D&t=W1dCFFlQCxxAXgVEBEFfDVwABAlLXgxQC0UOCltXWwg%3D">合作京东</a></li>
<li  class="nav_more_tips"><a href="http://wpa.qq.com/msgrd?v=3&uin=274685591&site=qq&menu=yes/">在线客服</a>
<div class="nav_more_tips_list">
<div class="triangle_border_up"><span></span></div>
<a href="http://wpa.qq.com/msgrd?v=3&uin=274685591&site=qq&menu=yes" target="_blank">微信客服</a>
<a href="http://wpa.qq.com/msgrd?v=3&uin=274685591&site=qq&menu=yes" target="_blank">QQ客服</a>
 
</div>
</li>
</ul>
</div>
<div class="fr">
<ul class="top_nav_right">
<li>您好,请感谢关注我们,我们将提供最优质，最安全的健康食品与您分享。</li>
<!--<li><a href="http://my.haitao.com/login/reg.php?url=http%3A%2F%2Fwww.haitao.com%2Findex.php%3F">注册</a></li>
<li><a href="http://my.haitao.com/login/?url=http%3A%2F%2Fwww.haitao.com%2Findex.php%3F">登录</a></li>
<li><a href="http://my.haitao.com/api/qq/oauth/qq_login.php?url=http%3A%2F%2Fwww.haitao.com%2Findex.php%3F" target="_blank">QQ登录</a></li>
<li><a href="http://my.haitao.com/api/sina/" target="_blank">微博登录</a></li>-->
 </ul>
</div>
</div>
</div>

<div class="top  bf">
<div class="w90 clear icons">
<div class="top_logo"><a href="http://www.kouweipai.com"><img src="/static/images/logo.png?v=4"></a></div>

<div class="top_search">
<input type="text" name="s" class="s_input"  value="" placeholder="输入搜索关键词" id="s"><input type="button" class="s_edit" value="搜索" onclick="so()">
<div class="search"></div>
   <script language="javascript">
            function so() {
                var keywords = $("#s").val();
                window.location.href= '/so.html?keywords=' + escape(keywords);
            }

                </script>
<p class="top_search_word">
    <#uptag tagtype="01" clsid="003018" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">  
    <a href="${d.url}" class="" target="_blank">${d.Title}</a> 
   
        <#/uptag>
    </p>
</div>

<div class="top_collect">
<a href="javascript:void(0);" onclick="AddFavorite('口味派','http://www.kouweipai.com')"><i class="collect">收藏</i></a>
</div>

 



</div>
</div>
                
                
<div class="header clear add_fix" id="header">
<div class="w90 clear icons">
<div class="fl">
<ul>
<li><a href="http://www.kouweipai.com">首页</a></li>
<li class=""><a href="http://www.kouweipai.com/jk/" >进口</a></li>
<li class=""><a href="http://www.kouweipai.com/gdtc/">各地特产</a></li>
<li  class='on' ><a href="http://www.kouweipai.com/sxsg/">生鲜水果</a></li>
<li class=""><a href="http://www.kouweipai.com/rpcy/">乳品冲饮</a></li>
<li class=""><a href="http://www.kouweipai.com/xxls/">休闲零食</a></li>
<li class=""><a href="http://www.kouweipai.com/hxsc/">海鲜水产</a></li>
<li class=""><a href="http://www.kouweipai.com/gh/">干货</a></li>
<li class=""><a href="http://www.kouweipai.com/zwmj/">中外名酒</a></li>
<li class=""><a href="http://www.kouweipai.com/myfs/">母婴辅食</a></li>
<li class=""><a href="http://www.kouweipai.com/cy/">茶叶</a></li>
<li class=""><a href="http://www.kouweipai.com/lyss">粮油速食</a></li>
</ul>
</div>
 </div>
</div>

 

<div class="flexslider_420 clear">
<div class="flexslider clear">
<ul class="slides ">
<#uptag tagtype="01" clsid="003005" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">  
    <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
    <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
        <li style="background: url(${d.ImgUrl}) 50% 0 no-repeat;"><a href="${d.Url}" target="_blank">${d.Title}</a></li>
    <#else>
        <li style="background: url(http://img.pinyifu.com${d.ImgUrl}) 50% 0 no-repeat;"><a href="${d.Url}" target="_blank">${d.Title}</a></li>
    <#/if>
    <#/if>          
<#/uptag>
        </ul>
</div>
</div>

<div class="w90 clear foot40">




 

 



<div class="bg clear best_nav top10" id="005">
<h2 class="title fl">生鲜水果</h2>
 
</div>
<div class="clear icons share_list">

 <#uptag tagtype="01" clsid="001003" pagesize="3" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">  

    <div class="clear item">
    <div class="item_fl">
        <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
            <a href="${d.Url}" target="_blank"><img src="${d.ImgUrl}" data-original="${d.ImgUrl}"></a>
        <#else>
             <a href="${d.Url}" target="_blank"><img src="http://img.pinyifu.com${d.ImgUrl}" data-original="${d.ImgUrl}"></a>
        <#/if>
        <#/if>
    </div>
    <div class="item_fr">
    <a href="${d.Url}" target="_blank"><h3>${d.Title}</h3></a>
    <p class="remark">${substr(filterhtml(d.NewsAbstract),150)}...</p>
    <div class="clear top10">
        <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
        <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
            <div class="fl"><img src="${d.ImgUrl}"  onerror="no_user_logo()" class="img_24"></div>
        <#else>
            <div class="fl"><img src="http://img.pinyifu.com${d.ImgUrl}"  onerror="no_user_logo()" class="img_24"></div>
        <#/if>
        <#/if>
    <div class="fl left10">${d.ChannelName}</div>
    <div class="fr left10"><a href="${d.Url}" rel="nofollow" target="_blank"><span class="time">${d.author}</span> <span class="go_buy">去看看 ＞</span></a> </div> 
    </div>
    </div>
    </div>
<#/uptag>
</div>




 
 


</div>


 
    
    
<script type="text/javascript">
function get_tuan_list(aid,cid,sorts){
$(".i_fr_t a").each(function(){
$(this).removeClass("selected");
})
$(".list_"+aid+"_"+cid+"_"+sorts).addClass("selected");
tips_in();
$.post("/ajax/tuan/index_list.php",{aid:aid,sorts:sorts,cid:cid},function(data){
$("#wrapper").html(data);
		tips_out("",0);
		$("img").lazyload();
		

}); 
};
</script>

</div>
<div class="footer">
<p>
<a href="http://www.kouweipai.com/about.html">关于我们</a>
<a href="http://www.kouweipai.com/lxwm.html">联系我们</a>
<a href="http://www.kouweipai.com/zlhz.html">战略合作</a>
<a href="http://www.kouweipai.com/tdgys.html">团购供应商</a>
<a href="http://www.kouweipai.com/yqlink.html">友情链接</a>
<a href="http://www.kouweipai.com/swhz.html">商务合作</a>
<a href="http://www.kouweipai.com/join.html">加入我们</a>
</p>
<p> ©2016 口味派 湘ICP备13008147号-1 &nbsp;&nbsp;</p>
 
</div>
<script src="/static/js/jquery.lazyload.min.js?v=1"></script>
<script type="text/javascript">
 $(document).ready(function() {
      $("img").lazyload({});
  });
</script>
<script src="/static/js/basic.js?v=4"></script>
<script src="/static/js/function.js?v=5"></script>
<script type="text/javascript">backToTop();</script><div id="web_back_tips"></div>

<script src="/static/js/jquery.flexslider-min.js"></script>
<script>
$(window).load(function() {
	$('.flexslider').flexslider({
		directionNav: false,
		pauseOnAction: false
	});
});
</script>
     <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?03cea8ef84551fdc151501d5cd1eab93";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body></html>

