
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>解读有理----一起学金融</title>
    <script>
window._deel = {
    name: '',
    url: '',
    rss: '',
    ajaxpager: '',
    maillist: '',
    maillistCode: '',
    commenton: 0,
    roll: [1,],
    tougaoContentmin: 200,
    tougaoContentmax: 5000,
    appkey: {
    	tqq: '801494063',
    	tsina: '1106777879',
    	t163: '',
    	tsohu: ''
    }
}
    </script>
    <meta name='robots' content='noindex,follow' />
 
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link href="/static/css/co-learn.css" rel="stylesheet" />
    <script src="/static/js/jquery/jquery.js"></script>
  
    <meta name="keywords" content="财经解读，小道消息，消息解读" />
    <meta name="description" content="在股市，有散户、机构、庄家、基金、社保等等一系列玩家，消息有利好、利空、真假利好、真假利空、有谣言、有托，解读有理通过判断收集各专家对消息的解读" />
    <style>
        .article-content {
            font-size: 16px;
            line-height: 27px;
        }

            .article-content p {
                margin: 20px 0;
            }

        @media (max-width:640px) {
            .article-content {
                font-size: 16px;
            }
        }
    </style><!--[if lt IE 9]><script src="/static/js/html5.js"></script><![endif]-->
</head>
<body class="archive category category-news category-1">
    <div class="navbar-wrap">
        <div class="navbar">
            <h1 class="logo"><a href="/" title="一起学金融,股神平台">一起学金融,股神平台</a></h1>
            <ul class="nav">
                <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-19"><a href="/">首页</a></li>
                <li id="menu-item-17" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17 current-menu-item"><a href="/jdyl/">解读有理</a></li>
                <li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a href="/cpjq/">操盘技巧</a></li>
                <li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a href="/gsxl/">股市心理</a></li>
                <li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a href="/gngl/">概念归类</a></li>
                <li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a href="/ydgp/">异动股票</a></li>
                <li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-18"><a href="/gpzs/">股票知识</a></li>
                <li id="menu-item-155" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-155">
                    <a style="color:red; font-weight:bold;">更多菜单</a>
                    <ul class="sub-menu">
                        <li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a href="/yjfx/">研究分析</a></li>
                        <li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="/spjx/">视频教学</a></li>
                        <li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/shbt/">社会百态</a></li>
                        <li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="/lzrs/">励志人生</a></li>
                        <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a href="/cnxh/">猜你喜欢</a></li>
                        <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a href="/mjgd/">名家观点</a></li>
                    </ul>

                </li>
            </ul>
            <div class="menu pull-right dropdown search-form">
              
                    <input class="search-input" name="s" type="text" placeholder="输入关键字搜索" x-webkit-speech="" id="s"><input class="btn btn-success search-submit" type="button" onclick="so()" value="搜索">
                    <ul class="dropdown-menu search-suggest"></ul>
   
                <script language="javascript">
            function so() {
                var keywords = $("#s").val();
                window.location.href= '/so.html?keywords=' + escape(keywords);
            }

                </script>
                <!--<div class="btn-group pull-left">

                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">关注 <i class="caret"></i></button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="http://t.qq.com/alibaixiu" target="_blank">腾讯微博</a></li>
                    <li><a href="http://weibo.com/alibaixiucom" target="_blank">新浪微博</a></li>
                </ul>
            </div>-->
            </div>
        </div></div>
    <div class="layer_notice" style="display:none;">
        <img src="http://www.co-learn.cn/static/images/ewm.jpg" />
    </div>

    <header class="header">
        <div class="speedbar">
            <div class="toptip" id="popwx"><strong class="text-success">最新消息：</strong>关注我们官方微信,每日股票教学推荐。<img src="http://www.co-learn.cn/static/images/ewm.jpg" width="30px" height="30px" /></div>
            <div class="speedbar-ad" id="wrapper">
                <div class="first">
                    <dl id="ticker-1">
                        <#uptag tagtype="01" clsid="003019" pagesize="3" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                            <dd><a href="${d.Url}" target="_blank">${d.Title}</a></dd>

                            <#/uptag>
                    </dl>
                </div>

            </div>
        </div>
    </header>
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <header class="archive-header">
                    <h1>解读有理</h1>
                </header>
                <p id="p1"></p>

                <div id="fycenter">
                    <ul class="pagination" id="pagination1"></ul>
                </div>

            </div>
        </div>
        <aside class="sidebar">
            <div class="widget d_postlist">
                <h3 class="widget_tit">猜你喜欢</h3><ul>
                    <#uptag tagtype="01" clsid="003009" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li>
                            <a href="${d.Url}">
                                <#if test="${isnotempty(d.ImgUrl) and notequals(d.ImgUrl,"")}">
                                    <#if test="${equals(substr(tolower(d.ImgUrl),7),"http://")}">
                                    <span class="thumbnail"><img src="${d.ImgUrl}" alt="${d.Url}" /></span>
                                    <#else>
                                        <span class="thumbnail"><img src="http://img.pinyifu.com/${d.ImgUrl}" alt="${d.Url}" /></span>
                                        <#/if>
                                        <#/if>
                                        <span class="text">${d.Title}</span><span class="muted">${cdatestring(d.CreatedTime,"yyyy-MM-dd")}</span>
                            </a>
                        </li>
                        <#/uptag>

                </ul>
            </div>
            <div class="widget d_slidebanner">

                <div class="slider-wrap" style="height:px;">
                    <ul class="slider-roll">
                        <#uptag tagtype="01" clsid="003016" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                            <li class="item"><a href="${d.Url}" target="_blank"><img src="http://img.pinyifu.com/${d.ImgUrl}"></a></li>
                            <#/uptag>
                    </ul>
                </div>
                <ol class="slider-ctrl">
                    <#uptag tagtype="01" clsid="003016" pagesize="4" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li>${i}</li>
                        <#/uptag>
                </ol>

            </div>

            <div class="widget widget_recent_entries">
                <h3 class="widget_tit">社会百态</h3>
                <ul>
                    <#uptag tagtype="01" clsid="003007" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li>
                            <a href="${d.Url}">${d.title}</a>
                        </li>
                        <#/uptag>
                </ul>
            </div>
            <div class="widget d_textbanner">
                <#uptag tagtype="01" clsid="003017" pagesize="1" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                    <a class="style01" target="_blank" href="${d.Url}" ><strong>黑科技</strong><h2>${d.title}</h2><p>${substr(filterhtml(d.NewsAbstract),40)}</p></a>
                    <#/uptag>
</div>

            <div class="widget d_tag">
                <h3 class="widget_tit">标签云</h3>
                <div class="d_tags">
                    <#uptag tagtype="01" clsid="003018" pagesize="30" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <a href="/so.html?keywords=${toescape(d.title)}">${d.Title}</a>
                        <#/uptag>
                </div>
            </div>


            <div class="widget widget_recent_entries">
                <h3 class="widget_tit">名家观点</h3>
                <ul>
                    <#uptag tagtype="01" clsid="003001" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li>
                            <a href="${d.Url}">${d.Title}</a>
                        </li>

                        <#/uptag>
                </ul>
            </div>
            <div class="widget widget_links">
                <h3 class="widget_tit">励志人生</h3>
                <ul class='xoxo blogroll'>
                    <#uptag tagtype="01" clsid="003008" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li>
                            <a href="${d.Url}" target="_blank">${d.Title}</a>
                        </li>
                        <#/uptag>
                </ul>
            </div>
            <div class="widget widget_recent_entries">
                <h3 class="widget_tit">研究分析</h3>		<ul>
                    <#uptag tagtype="01" clsid="003015" pagesize="6" pagecount="1" viewedit="1" id="dataId001001" var="d" index="i" islast="flag">
                        <li>
                            <a href="${d.Url}" target="_blank">${d.Title}</a>
                        </li>
                        <#/uptag>
                </ul>
            </div>
        </aside>
    </section>
    <footer class="footer">
        <div class="footer-inner">
            <div class="copyright pull-left">
                版权所有，保留一切权利！ &copy; 2015 - 2016 <a href="http://www.co-learn.cn">一起学金融</a>　 <a href="http://www.co-learn.cn" target="_blank">粤ICP备15098883号-1</a>
            </div>
            <div class="trackcode pull-right">
              
            </div>
        </div>
    </footer>
    <script>


        $(function () {
            var total = "";
            var datalist = new Object();
            $.ajax({
                type: "GET",
                async:false,
                url: "/AjaxNews/GetNewsList.cspx?rows=20&page=1&ChannelId=003012&keywords=",
                success: function (responseText) {
                    if (responseText != "") {
                        total = Math.ceil(responseText.total/20);
                        datalist = responseText;
                    }

                }
            });

            $.jqPaginator('#pagination1', {
                totalPages: total,
                visiblePages: 10,
                currentPage: 1,
                wrapper:'',
                first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:void(0);">上一页</a></li>',
                next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
                last: '<li class="last"><a href="javascript:void(0);">最后一页</a></li>',
                page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    if (num > 1) {
                        getpagedata("003012", num, 20)
                    } else {
                        if (datalist != "") {

                            var solist = "";
                            var ctime = "";

                            for (var i = 0; i < datalist.rows.length; i++) {

                                if (datalist.rows[i].CreatedTime != "" && datalist.rows[i].CreatedTime != null) {
                                    var UploadDate = datalist.rows[i].CreatedTime.replace("/Date(", "").replace(")/", "");
                                    ctime = getLocalTime(UploadDate.substr(0, 10));
                                }
                                var strImg = "";
                                if (datalist.rows[i].ImgUrl != "" && datalist.rows[i].ImgUrl != "null" && datalist.rows[i].ImgUrl != null) {
                                    if (datalist.rows[i].ImgUrl.toLowerCase().indexOf("http://") === 0) {
                                        strImg = ' <div class="focus"><a target="_blank" href="' + datalist.rows[i].Url + '" class="thumbnail"><img  src="' + datalist.rows[i].ImgUrl + '" alt="' + datalist.rows[i].Title + '" /></a></div>';
                                    } else {
                                        strImg = ' <div class="focus"><a target="_blank" href="' + datalist.rows[i].Url + '" class="thumbnail"><img  src="http://img.pinyifu.com' + datalist.rows[i].ImgUrl + '" alt="' + datalist.rows[i].Title + '" /></a></div>';

                                    }
                                }
                                solist += ' <article class="excerpt">' + strImg + '' +
                                        '<header><h2><a href="' + datalist.rows[i].Url + '" title="' + datalist.rows[i].Title + '">' + datalist.rows[i].Title + '</a></h2>   </header>' +
                                        '<p><span class="muted"><i class="icon-user icon12"></i></span>' +
                                        '<span class="muted"><i class="icon-time icon12"></i>  ' + ctime + '</span> </p>' +
                                        ' <p class="note">' + removeHTMLTag(datalist.rows[i].Content).substr(0, 150) + '</p> </article>';

                            }
                        }
                        $('#p1').html(solist);
                    }

                        }

            });
            $("#fycenter").css("width", $("#pagination1").width() + 90);
            $("#fycenter").css("margin", "0 auto");

        });


    </script>
    <script type="text/javascript" src="http://www.co-learn.cn/static/js/jqPaginator.js"></script>
    <script type="text/javascript" src="http://www.co-learn.cn/static/js/common.js"></script>
    <script type="text/javascript" src="http://www.co-learn.cn/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="http://www.co-learn.cn/static/js/jquery.carouFredSel-6.0.4-packed.js"></script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b7c1f190cb345adb3db6af734a694867";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
    </script>

    <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
    </script>
</body>
</html>